.arrow {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    overflow: hidden;
    position: relative;

    .first {
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      transform: translate(0, 0) rotateY(0deg) rotateX(0deg);
      opacity: 1;
    }

    .second {
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      transform: translate(-20px, 20px) rotateY(-45deg) rotateX(-45deg);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:hover {
    svg {
      .first {
        transform: translate(20px, -20px) rotateY(45deg) rotateX(45deg);
        opacity: 0;
      }

      .second {
        transform: translate(0, 0) rotateY(0deg) rotateX(0deg);
        opacity: 1;
      }
    }
  }
}

:global(.group:hover) :global(.group-hover-arrow) {
  svg {
    .first {
      transform: translate(20px, -20px) rotateY(45deg) rotateX(45deg);
      opacity: 0;
    }

    .second {
      transform: translate(0, 0) rotateY(0deg) rotateX(0deg);
      opacity: 1;
    }
  }
}